*, *:after {
  padding: 0;
  margin: 0;
}

.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-white {
  color: white;
}

full-viewport-width {
  width: 100vw;
}

header {
  background-color: rgb(66, 135, 245);
  height: 20vh;
  font-family: Verdana, sans-serif;
}
