/* #region Fonts */
@font-face {
  font-family: Inter-Light;
  src: url("Fonts/Inter/static/Inter-Light.ttf");
}

@font-face {
  font-family: Madimi-One;
  src: url("Fonts/Madimi-One/MadimiOne-Regular.ttf");
}

@font-face {
  font-family: Inconsolata;
  src: url("Fonts/Inconsolata/Inconsolata-Regular.otf")
}

.inter-light {
  font-family: Inter-Light;
}

.madimi {
  font-family: Madimi-One;
}

.inconsolata {
  font-family: Inconsolata;
}

.nasalization{
  font-family: nasalization, sans-serif;
  font-style: normal;
}
/* #endregion */

header {
  height: 14vh;

  font-size: 3.8vh;

  transform: translate(0,-3vh);

  background-color: rgba(0, 81, 255, 0.25);
  box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 50%);

  backdrop-filter: blur(2px);
}

body {
  width: 100vw;
  height: 100vh;

  font-family: system-ui;
  color: white;
  text-align: center;

  background: radial-gradient(circle, rgba(43,58,75,1) 0%, rgba(0,0,0,1) 100%);
  transition: all 1s;
}

/* #region Loader */
.loader-container {
  width: 100vw;
  height: 100vh;

  position: absolute;

  z-index: 9999;

  background: radial-gradient(circle, rgba(43,58,75,1) 0%, rgba(0,0,0,1) 100%);
}

.loader {
  width: 60px;
  height: 25px;
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 50%;
  display: grid;
  animation: l2 2s infinite linear;
}

.loader:before, .loader:after {
  content: "";
  grid-area: 1/1;
  border: inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 3s;
}

.loader:after {
  --s:-1;
}

@keyframes l2 {
   100% {transform:rotate(calc(var(--s,1)*1turn))}
}
/* #endregion */

/* #region Flex Displays */
.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-s-s {
  display: flex;
  justify-content: start;
  align-items: start;
}

.flex-s-c {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-c-s {
  display: flex;
  justify-content: center;
  align-items: start;
}

.flex-se-c {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-sa-c {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
/* #endregion */

/* #region Text colours */
.text-white {
  color: white;
}

.text-black {
  color: black;
}

.full-viewport-width {
  width: 100vw;
}
/* #endregion */

/* #region Search Bar */
#search-bar-wrapper{
  display: flex;
  justify-content: center;

  margin-bottom: 5vh;
  margin-top: 2vh;

  width: 100vw;
}

#search-bar {
  display: block;
  position: relative;
  font-size: min(1em, 4vw);
  width: 38vw;
}

#search-text{
  padding: 6px 5px 0px 5px;
  
  font-size: 1em;
  font-family: Inter-Light;
  
  width: 100%;
  height: 100%;
  padding: 5px;

  border:0;
  outline: 0;

  border-bottom: solid white;

  caret-color: white;
  background-color: rgba(0,0,0,0);
  color:white;
}

#search-text::selection{
  background-color: #1851ce33;
  border-radius: 0.1em;
}

#autocomplete{
  position: absolute;
  width: 100%;
  height: 100%;

  margin: 5px;

  border:0;
  font-size: 1em;

  z-index: -1;
  
  color:rgb(255, 255, 255);
  
  font-family: Inter-Light;

  display: flex;
  align-items: center;
}
/* #endregion */

/* #region Search Results */
.loading-wheel {
  display: none;

  height: 65vh;
  width: 50vw;

  margin-left: auto;
  margin-right: auto;
}

.loading-wheel img {
  height: 10vh;

  animation: loading-wheel-spin 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes loading-wheel-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search-results {
  /* Bringing firefox back to the party! */
  scrollbar-color: var(--scroll-amount) #f5f5f526;
  display: none;

  padding-left: 2vw;
  padding-right: 2vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;

  width: 50vw;
  height: 65vh;

  overflow-x: hidden;
  overflow-y: auto;

  row-gap: 4vh;
}

.search-results::-webkit-scrollbar-track
{
	background-color: #f5f5f526;
	border-radius: 1vw;
}

.search-results::-webkit-scrollbar
{
	width: 0.3vw;
}

.search-results::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background: var(--scroll-amount);
}

.search-results-card {
  height: 40%;
  width: 100%;

  padding-left: 0px;
  padding-right: 0px;

  border-radius: 20px 100px 100px 20px;
  border: 2px solid rgb(93, 93, 93);

  /* background-color: rgb(217,217,217); */
  box-shadow: inset 0 200px 5000px rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(2px);
  
  transition: background-color 0.2s ease-in-out;
}

.search-results-card:hover {
  background-color: rgb(170, 167, 167);

  .standard-info-time-period {
    color: rgb(93, 93, 93);
  }

  .standard-info-id {
    color: rgba(0, 0, 0);
  }

  .standard-info-description {
    color: rgb(0, 0, 0);
  }

  .standard-level {
    color: rgb(0, 0, 0);
  }
}

.standard-info {
  width: 60%;
  height: 70%;
  padding: 1%;
  font-family: Inter-Light;
}

.standard-info-numbers {
  width: 100%;

  padding-left: 3%;

  font-size: calc(1vw + 1vh);

  text-align: left;

  flex: 1;

  display: flex;
}

.standard-info-id {
  color: white;

  flex: 5;

  transition: color 0.2s ease-in-out;

  font-size: calc(2vw + 2vh);
}

.standard-info-time-period {
  color: rgb(202, 202, 202);
  flex: 2;
  align-self: baseline;

  transition: color 0.2s ease-in-out;
}

.standard-info-description {
  width: 100%;
  flex: 2;

  padding-left: 3%;

  text-align: left;
  display: flex;

  color: white;

  transition: color 0.2s ease-in-out;

  font-size: calc(0.7vw + 0.7vh);
}

.standard-info-description p {
  font-size: calc(0.7vw + 0.7vh);
  align-self: flex-end;
}

.split-bar {
  height: 80%;
  width: 0.25%;

  border-radius: 20px;

  margin-left: 5%;

  background-color: rgb(93, 93, 93);
}

.standard-level {
  font-size: calc(2.5vw + 2.5vh);
  color: white;

  margin: 5%;

  transition: color 0.2s ease-in-out;
}

.standard-level h1 {
  font-size: calc(2.5vw + 2.5vh);
}

.standard-level:before {
  content: "Lvl ";
  font-size: calc(0.7vw + 0.7vh);
}

.download-plus {
  border-radius: 0px 100px 100px 0px;
  border: none;

  width: 25%;
  height: 100%;
  
  margin-left: auto;

  /* background-color: rgb(24, 81, 206); */
  background-color: rgba(1, 48, 149, 0.586);

  transition: background-color 0.2s ease-in-out;
}

.download-plus img{
  width: 35%;
  aspect-ratio: 1;
}

.subject-not-found-block {
  display: none;

  height: 65vh;
  width: 50vw;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;

  background-color: rgba(255, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 5px rgba(255, 0, 0, 0.13);

  backdrop-filter: blur(2px);

  border: 2px rgb(255, 81, 33) solid;
  border-radius: 5vw;

  gap: 2vh;
}

.subject-not-found-block h1 {
  color: rgb(255, 255, 255);
  text-shadow: rgb(0,0,0);
  font-size: max(0.3em,1vw);
}

.subject-not-found-block p {
  font-size: max(.8em,1.4vw);
  color: rgb(202, 133, 133);
}
/* #endregion */

/* #region Contributors Screen */
.contributors-screen {
  display: none;

  height: 65vh;
  width: 50vw;

  margin-left: auto;
  margin-right:  auto;
  margin-bottom: 3vh;
  padding-left: 0.1vw;
  padding-right: 0.1vw;

  background-color: rgba(126, 126, 126, 0.1);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.13);
	
  backdrop-filter: blur(2px);
  
  border: 2px rgb(78, 78, 78) solid;
  border-radius: 2.5vw;

  overflow: auto;
  justify-content: space-around;
  gap: 2vh;
}

.contributors-screen h2 {
  margin-top: 2.5%;
  letter-spacing: 0.1vw;
  text-align: left;
  font-size: max(3vw, 3vh);
  font-weight: 600;
  width: 90%;
}
.contributors-screen p {
  text-align: left;
  font-size: max(2vw, 2vh);
  font-weight: 500;
  width: 80%;
  color: rgb(187, 187, 187);
}
.contributors-screen h3 {
  text-align: left;
  font-size: max(1vw, 1vh);
  font-weight: 500;
  width: 80%;
  color: rgb(187, 187, 187);
}
.contributors-screen a {
  letter-spacing: 0.1vw;
  text-align: left;
  font-size: max(2vw, 2vh);
  font-weight: 500;
  width: 80%;
  color: rgb(0, 81, 255);
}
.contributors {
  gap: 0.5vw;
}

.contributors button {
  border: none;
  border-bottom: 1px white solid;

  background-color: rgba(0, 0, 0, 0);

  color: white;
}

.contributors button:hover {
  cursor: pointer;
}

.contributors img {
  width: 4vh;
}
/* #endregion */

/* #region GitHub Contributors Screen */
.github-contribute-screen {
  display: flex;

  height: 65vh;
  width: 50vw;

  margin-left: auto;
  margin-right:  auto;
  margin-bottom: 3vh;
  padding-left: 0.1vw;
  padding-right: 0.1vw;

  background-color: rgba(126, 126, 126, 0.1);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.13);
	
  backdrop-filter: blur(2px);
  
	border: 2px rgb(78, 78, 78) solid;
  border-radius: 2.5vw;

  overflow: auto;

  gap: 4vh;
}

.github-contribute-screen h1 {
  font-size: 4vw;
}

.github-contribute-screen p, .github-contribute-screen a {
  font-size: 1.5vw;
}

.github-contribute-screen a {
  color: white;
}
/* #endregion */

/* #region Filter Controls */
#filter-button{
  position: absolute;
  top:30%;
  right:0;
  translate: -100%;
  height: 75%;

  aspect-ratio: 1/1;

  background-color: rgba(0,0,0,0);
  border: none;

  transition: all 0.3s;
}

#filter-button img{
  width: 100%;
  height: 100%;
}
#filter-button:hover img{
  filter: invert(36%) sepia(51%) saturate(1092%) hue-rotate(189deg) brightness(99%) contrast(91%);
}

#filter-button:hover ~ #filter-tooltip {
  transform: none !important;
}

#filter-tooltip {
  position: absolute;
  transform: translateY(-100vh);
  background-color: rgba(126, 126, 126, 0.1);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(2px);
  border: 2px rgb(78, 78, 78) solid;
  color: white;
  border-radius: 8px;
  right: 0;
  top: 100%;
  width: fit-content;
  z-index: 8;
  font-size: min(1em, 4vw);
  padding: 5px;
}

#filter-tooltip:hover, #filter-tooltip:focus-within {
  transform: translateY(0);
}

#filter-tooltip button {
  background-color: #0000002c;
  border: 2px rgb(78, 78, 78) solid;
  width: 100%;
  border-radius: 4px;
  color: white;
}

/* #endregion */

/* #region Subjects Page */
#subject-button{
  position: absolute;
  top:30%;
  right:0;
  height: 75%;

  aspect-ratio: 1/1;

  filter: invert(99%) sepia(0%) saturate(7498%) hue-rotate(169deg) brightness(109%) contrast(100%);
  background-color: rgba(0,0,0,0);
  border: none;

  transition: all 0.3s;
}
#subject-button img{
  width: 100%;
  height: 100%;
}
#subject-button:hover{
  filter: invert(36%) sepia(51%) saturate(1092%) hue-rotate(189deg) brightness(99%) contrast(91%);
}

.subject-card {
  min-height: 20%;
  width: 100%;

  padding-left: 0px;
  padding-right: 0px;

  border-radius: 20px 100px 100px 20px;
  border: 2px solid rgb(93, 93, 93);

  background-color: rgb(217,217,217,0);
  box-shadow: inset 0 200px 5000px rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(2px);
  
  transition: background-color 0.2s ease-in-out;

  font-size: 5vmin;
  color:white;
  font-weight: 500;
}

.subject-card:hover {
  background-color: rgb(170, 167, 167);
  color: rgb(42, 42, 42);
}
/* #endregion */

/* #region Responsive Code */
@media (max-aspect-ratio: 13/16) {
  .search-results{
    width: 95vw;
    height: 55vh;

    flex-grow: 1;
  }
  .contributors-screen{
    width: 95vw;
    height: 55vh;

    flex-grow: 1;
  }
  .github-contribute-screen{
    width: 95vw;
    height: 55vh;

    padding-left: 1vw;
    padding-right: 1vw;

    flex-grow: 1;
  }
  .subject-not-found-block{
    width: 95vw;
    height: 55vh;

    flex-grow: 1;
  }
  .loading-wheel{
    width: 95vw;
    height: 55vh;

    flex-grow: 1;
  }

  #search-bar{
    width: 80vw;
    font-size: 4vw;
  }

  #autocomplete, #search-text {
    font-size: 3vw !important;
  }

  #filter-tooltip {
    font-size: 3vw !important;
  }

  .github-contribute-screen h1 {
    font-size: 10vw;
  }

  .github-contribute-screen p, .github-contribute-screen a {
    font-size: 5vw;
  }

  .standard-info-description {
    font-size: 2.5vw;
  }

  header{
    font-size: 7vw;
  }
}

@media screen and (max-width: 940px) {
  #autocomplete {
    font-size: 1.5vw;
  }

  #search-text {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 686px) {
  #autocomplete {
    font-size: 3vw;
  }

  #search-text {
    font-size: 3vw;
  }
}
/* #endregion */
