*,*:after {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Inter-Light;
  src: url("Fonts/Inter/static/Inter-Light.ttf");
}

@font-face {
  font-family: Madimi-One;
  src: url("Fonts/Madimi-One/MadimiOne-Regular.ttf");
}

@font-face {
  font-family: Inconsolata;
  src: url("Fonts/Inconsolata/Inconsolata-Regular.otf")
}

.inter-light {
  font-family: Inter-Light;
}

.madimi {
  font-family: Madimi-One;
}

.inconsolata {
  font-family: Inconsolata;
}

.nasalization{
  font-family: nasalization, sans-serif;
  font-style: normal;
}

header {
  height: 14vh;

  font-size: 3.8vh;

  transform: translate(0,-3vh);

  /* box-shadow: inset 0 200px 5000px rgba(0, 81, 255, 0.4); */
  background-color: rgba(0, 81, 255, 0.25);
  box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 50%);

  backdrop-filter: blur(2px);
}

body {
  font-family: system-ui;
  color: white;
  text-align: center;

  background: radial-gradient(circle, rgba(43,58,75,1) 0%, rgba(0,0,0,1) 100%);
  transition: all 1s;
}

.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-s-s {
  display: flex;
  justify-content: start;
  align-items: start;
}

.flex-s-c {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-c-s {
  display: flex;
  justify-content: center;
  align-items: start;
}

.flex-se-c {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.full-viewport-width {
  width: 100vw;
}

#search-bar-wrapper{
  display: flex;
  justify-content: center;

  margin-bottom: 5vh;
  margin-top: 2vh;

  width: 100vw;
}

#search-bar {
  display: block;
  position: relative;
  font-size: min(1em, 2vw);
  width: 35vw;
}

#search-text{
  padding: 6px 5px 0px 5px;
  
  font-size: 1em;
  font-family: Inter-Light;
  
  width: 100%;
  height: 100%;
  padding: 5px;

  border:0;
  outline: 0;

  border-bottom: solid white;

  caret-color: white;
  background-color: rgba(0,0,0,0);
  color:white;
}

#search-text::selection{
  background-color: #1851ce33;
  border-radius: 0.1em;
}

#autocomplete{
  position: absolute;
  width: 100%;
  height: 100%;

  margin: 5px;

  border:0;
  font-size: 1em;

  top: 6px;

  z-index: -1;
  
  color:rgb(255, 255, 255);
  text-align: left;
  font-family: Inter-Light;
}

.loading-wheel {
  display: none;

  height: 65vh;
  width: 50vw;

  margin-left: auto;
  margin-right: auto;
}

.loading-wheel img {
  height: 10vh;

  animation: loading-wheel-spin 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes loading-wheel-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search-results {
  padding-left: 2vw;
  padding-right: 2vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;

  width: 50vw;
  height: 65vh;

  overflow-x: hidden;
  overflow-y: auto;

  row-gap: 4vh;
}

.search-results::-webkit-scrollbar-track
{
	background-color: #f5f5f526;
	border-radius: 1vw;
}

.search-results::-webkit-scrollbar
{
	width: 0.3vw;
}

.search-results::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background: var(--scroll-amount);
}

.search-results-card {
  height: 40%;
  width: 100%;

  padding-left: 0px;
  padding-right: 0px;

  border-radius: 20px 100px 100px 20px;
  border: 2px solid rgb(93, 93, 93);

  /* background-color: rgb(217,217,217); */
  box-shadow: inset 0 200px 5000px rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(2px);
  
  transition: background-color 0.2s ease-in-out;
}

.search-results-card:hover {
  background-color: rgb(170, 167, 167);

  .standard-info-time-period {
    color: rgb(93, 93, 93);
  }

  .standard-info-id {
    color: rgba(0, 0, 0);
  }

  .standard-info-description {
    color: rgb(0, 0, 0);
  }

  .standard-level {
    color: rgb(0, 0, 0);
  }
}

.standard-info {
  width: 60%;
  height: 70%;
  padding: 1%;
  font-family: Inter-Light;
}

.standard-info-numbers {
  width: 100%;

  padding-left: 3%;

  font-size: calc(1vw + 1vh);

  text-align: left;

  flex: 1;

  display: flex;
}

.standard-info-id {
  color: white;

  flex: 5;

  transition: color 0.2s ease-in-out;
}

.standard-info-time-period {
  color: rgb(202, 202, 202);
  flex: 2;
  align-self: baseline;

  transition: color 0.2s ease-in-out;
}

.standard-info-description {
  width: 100%;
  flex: 2;

  padding-left: 3%;

  text-align: left;
  display: flex;

  color: white;

  transition: color 0.2s ease-in-out;
}

.standard-info-description p {
  font-size: calc(0.7vw + 0.7vh);
  align-self: flex-end;
}

.split-bar {
  height: 80%;
  width: 0.25%;

  border-radius: 20px;

  margin-left: 5%;

  background-color: rgb(93, 93, 93);
}

.standard-level {
  font-size: calc(1.25vw + 1.25vh);

  color: white;

  margin: 5%;

  transition: color 0.2s ease-in-out;
}

.download-plus {
  border-radius: 0px 100px 100px 0px;
  border: none;

  width: 20%;
  height: 100%;
  
  margin-left: auto;

  /* background-color: rgb(24, 81, 206); */
  background-color: rgba(1, 48, 149, 0.586);

  transition: background-color 0.2s ease-in-out;
}
  
.download-plus::before {
  content: "⤓";

  width: calc(6vw + 6vh);
  height: calc(8vw + 8vh);

  font-size: calc(4.4vw + 4.4vh);

  font-weight: bold;
  font-family: Madimi-One;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.subject-not-found-block {
  display: none;

  height: 65vh;
  width: 50vw;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;

  background-color: rgba(255, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 5px rgba(255, 0, 0, 0.13);

  backdrop-filter: blur(2px);

  border: 2px rgb(255, 81, 33) solid;
  border-radius: 5vw;

  gap: 2vh;
}

.subject-not-found-block h1 {
  color: rgb(255, 255, 255);
  text-shadow: rgb(0,0,0);
  font-size: max(0.3em,1vw);
}

.subject-not-found-block p {
  font-size: max(.8em,1.4vw);
  color: rgb(202, 133, 133);
}

.contributors-screen {
  display: none;

  height: 65vh;
  width: 50vw;

  margin-left: auto;
  margin-right:  auto;
  margin-bottom: 3vh;
  padding-left: 0.1vw;
  padding-right: 0.1vw;

  background-color: rgba(126, 126, 126, 0.1);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.13);
	
  backdrop-filter: blur(2px);
  
	border: 2px rgb(78, 78, 78) solid;
  border-radius: 2.5vw;

  overflow: auto;
}

.contributors-screen h1 {
  margin-top: 2.5%;
  letter-spacing: 0.1vw;
  text-align: left;
  font-size: max(3vw, 3vh);
  font-weight: 600;
  width: 90%;
}
.contributors-screen p {
  text-align: left;
  font-size: max(2vw, 2vh);
  font-weight: 500;
  width: 80%;
  color: rgb(187, 187, 187);
}
.contributors-screen h2 {
  text-align: left;
  font-size: max(1vw, 1vh);
  font-weight: 500;
  width: 80%;
  color: rgb(187, 187, 187);
}
.contributors-screen a {
  letter-spacing: 0.1vw;
  text-align: left;
  font-size: max(2vw, 2vh);
  font-weight: 500;
  width: 80%;
  color: rgb(0, 81, 255);
}
.contributors {
  gap: 0.5vw;
}

.contributors button {
  border: none;
  border-bottom: 1px white solid;

  background-color: rgba(0, 0, 0, 0);

  color: white;
}

.contributors button:hover {
  cursor: pointer;
}

.contributors img {
  width: 4vh;
}

#subject-button{
  position: absolute;
  right:0;
  height: 75%;
  aspect-ratio: 1/1;
  top:30%;
  background-color: rgba(0,0,0,0);
  border: none;
  filter: invert(99%) sepia(0%) saturate(7498%) hue-rotate(169deg) brightness(109%) contrast(100%);
  transition: all 0.3s;
}
#subject-button img{
  width: 100%;
  height: 100%;
}
#subject-button:hover{
  filter: invert(36%) sepia(51%) saturate(1092%) hue-rotate(189deg) brightness(99%) contrast(91%);
}

.subject-card {
  min-height: 20%;
  width: 100%;

  padding-left: 0px;
  padding-right: 0px;

  border-radius: 20px 100px 100px 20px;
  border: 2px solid rgb(93, 93, 93);

  background-color: rgb(217,217,217,0);
  box-shadow: inset 0 200px 5000px rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(2px);
  
  transition: background-color 0.2s ease-in-out;

  font-size: 2rem;
  color:white;
  font-weight: 500;
}

.subject-card:hover {
  background-color: rgb(170, 167, 167);
  color: rgb(42, 42, 42);
}


@media (max-aspect-ratio: 13/16) {
  .search-results{
    width: 95vw;
    height: 55vh;
  }
  .contributors-screen{
    width: 95vw;
    height: 55vh;
  }
  .subject-not-found-block{
    width: 95vw;
    height: 55vh;
  }
  .loading-wheel{
    width: 95vw;
    height: 55vh;
  }
  #search-bar{
    width:70vw;
    font-size: 4vw;
  }
  header{
    font-size: 7vw;
  }
}

/*-------------------------Stolen Code------------------------*/
.stars {
  position: absolute;
  z-index: -10;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.stars.-visible {
  opacity: 1;
}
.stars>.small {
  -webkit-animation: b 50s linear infinite;
  animation: b 50s linear infinite;
}

.stars>.small, .stars>.small:after {		
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1226px 152px #767676,874px 67px #767676,1766px 328px #767676,1102px 432px #767676,1083px 1498px #767676,172px 1557px #767676,962px 97px #767676,546px 642px #767676,1351px 71px #767676,190px 1872px #767676,1652px 1453px #767676,1926px 1393px #767676,511px 141px #767676,1869px 1728px #767676,402px 1368px #767676,687px 1956px #767676,1264px 1256px #767676,1902px 386px #767676,541px 726px #767676,438px 1548px #767676,815px 1666px #767676,1241px 623px #767676,1920px 1142px #767676,1154px 1100px #767676,331px 203px #767676,1516px 1906px #767676,370px 1783px #767676,1337px 917px #767676,225px 694px #767676,1783px 649px #767676,1471px 1239px #767676,1874px 1609px #767676,1811px 1707px #767676,423px 1056px #767676,494px 856px #767676,1675px 580px #767676,110px 1730px #767676,85px 1924px #767676,1830px 1436px #767676,645px 167px #767676,1258px 383px #767676,1263px 942px #767676,1428px 1446px #767676,1902px 641px #767676,142px 1152px #767676,443px 519px #767676,1264px 1467px #767676,927px 464px #767676,332px 845px #767676,452px 1490px #767676,1182px 223px #767676,1476px 1468px #767676,1484px 663px #767676,1209px 1555px #767676,542px 547px #767676,822px 1772px #767676,222px 442px #767676,1632px 492px #767676,1287px 1444px #767676,427px 841px #767676,197px 364px #767676,1006px 475px #767676,1181px 1938px #767676,397px 1379px #767676,744px 1559px #767676,1143px 807px #767676,1840px 1339px #767676,249px 1045px #767676,851px 1486px #767676,280px 716px #767676,894px 228px #767676,209px 406px #767676,587px 1455px #767676,31px 33px #767676,1527px 604px #767676,537px 870px #767676,1778px 1196px #767676,1140px 538px #767676,1025px 949px #767676,904px 958px #767676,1557px 1215px #767676,146px 418px #767676,1104px 1699px #767676,1749px 702px #767676,975px 1181px #767676,954px 1049px #767676,1293px 89px #767676,1404px 1427px #767676,297px 1904px #767676,99px 1044px #767676,1580px 1277px #767676,1433px 992px #767676,325px 1492px #767676,469px 1903px #767676,1339px 655px #767676,1463px 1650px #767676,730px 1453px #767676,76px 558px #767676,1423px 533px #767676,766px 1584px #767676,1091px 756px #767676,58px 177px #767676,644px 95px #767676,1480px 939px #767676,238px 1070px #767676,240px 1616px #767676,124px 1651px #767676,1242px 689px #767676,532px 1585px #767676,1644px 273px #767676,47px 1289px #767676,761px 1120px #767676,1430px 1178px #767676,1851px 1936px #767676,1647px 807px #767676,567px 1220px #767676,338px 1729px #767676,1524px 1799px #767676,1496px 1495px #767676,40px 1091px #767676,1087px 422px #767676,1411px 696px #767676,1248px 845px #767676,1980px 1560px #767676,1662px 1638px #767676,431px 563px #767676,1766px 1583px #767676,1768px 1685px #767676,260px 998px #767676,1481px 380px #767676,1494px 1572px #767676,175px 773px #767676,1801px 1429px #767676,1491px 961px #767676,1068px 1734px #767676,1429px 1883px #767676,1220px 922px #767676,1014px 285px #767676,108px 314px #767676,63px 1951px #767676,636px 1455px #767676,423px 1595px #767676,1138px 1120px #767676,619px 47px #767676,1785px 1670px #767676,1080px 1266px #767676,758px 1580px #767676,1885px 271px #767676,1372px 1510px #767676,1705px 4px #767676,1765px 1761px #767676,822px 115px #767676,614px 1743px #767676,1041px 416px #767676,265px 1368px #767676,115px 1435px #767676,1869px 603px #767676,1057px 1400px #767676,1281px 1919px #767676,227px 1568px #767676,1087px 48px #767676,155px 1629px #767676,1370px 1071px #767676,1248px 274px #767676,920px 1987px #767676,541px 1530px #767676,121px 1512px #767676,211px 1078px #767676,456px 796px #767676,1158px 1534px #767676,1112px 1197px #767676,829px 1063px #767676,1157px 587px #767676,1285px 1504px #767676,686px 1953px #767676,1317px 958px #767676,1509px 402px #767676,112px 1444px #767676,388px 1509px #767676,1765px 1602px #767676,1293px 1167px #767676,256px 151px #767676,1194px 470px #767676,1369px 1238px #767676,634px 1071px #767676,1957px 444px #767676,1139px 1734px #767676,1105px 1894px #767676,74px 25px #767676,257px 350px #767676,1721px 1820px #767676,1984px 1189px #767676,1980px 658px #767676,928px 668px #767676,1420px 520px #767676,1193px 1643px #767676,1552px 56px #767676,877px 1247px #767676,40px 1365px #767676,1254px 758px #767676,455px 1997px #767676,424px 1140px #767676,1164px 1123px #767676,815px 1874px #767676,1100px 543px #767676,1323px 163px #767676,422px 921px #767676,1016px 74px #767676,428px 596px #767676,280px 1827px #767676,1239px 235px #767676,1837px 1176px #767676,1935px 1687px #767676,526px 1673px #767676,1929px 1239px #767676,1048px 1236px #767676,1473px 829px #767676,945px 293px #767676,1876px 1736px #767676,112px 1488px #767676,677px 1615px #767676,1061px 840px #767676,470px 1476px #767676,1268px 51px #767676,1793px 1524px #767676,33px 1595px #767676,740px 1190px #767676,1203px 1828px #767676,930px 1048px #767676,1359px 1787px #767676,1387px 971px #767676,1497px 974px #767676,594px 726px #767676,1602px 350px #767676,778px 949px #767676,1503px 1343px #767676,522px 1959px #767676,833px 1232px #767676,395px 858px #767676,203px 1880px #767676,984px 1196px #767676,1575px 86px #767676,1724px 662px #767676,901px 1378px #767676,929px 1067px #767676,1960px 1740px #767676,684px 1661px #767676,364px 1563px #767676,812px 1900px #767676,1119px 345px #767676,1153px 801px #767676,590px 236px #767676,204px 1067px #767676,1169px 1852px #767676,345px 1982px #767676,135px 1754px #767676,224px 58px #767676,1493px 339px #767676,981px 343px #767676,1747px 241px #767676,1755px 1947px #767676,526px 903px #767676,939px 1766px #767676,1430px 1007px #767676,1266px 498px #767676,552px 157px #767676,1158px 763px #767676,306px 207px #767676,235px 1921px #767676,506px 583px #767676,1851px 1482px #767676,1351px 764px #767676,1131px 1196px #767676,1052px 352px #767676,1734px 965px #767676,605px 309px #767676,1416px 1687px #767676,1475px 1465px #767676,1687px 1346px #767676,764px 1505px #767676,1958px 941px #767676,1254px 1055px #767676,99px 1017px #767676,194px 303px #767676,1226px 1614px #767676,1291px 1786px #767676,348px 1724px #767676,379px 1806px #767676,220px 954px #767676,1779px 1728px #767676,969px 110px #767676,711px 1254px #767676,177px 539px #767676,87px 173px #767676,1635px 1650px #767676,1583px 97px #767676,1821px 346px #767676,559px 1193px #767676,1589px 945px #767676,700px 1385px #767676,965px 1247px #767676,197px 554px #767676,450px 260px #767676,1128px 1834px #767676,938px 731px #767676,1253px 450px #767676,346px 1284px #767676,204px 853px #767676,892px 1342px #767676,121px 1317px #767676,495px 750px #767676,1512px 889px #767676,1560px 960px #767676,1067px 951px #767676,114px 393px #767676,786px 441px #767676,379px 1203px #767676,738px 1918px #767676,1913px 83px #767676,44px 27px #767676,1552px 271px #767676,860px 317px #767676,1681px 847px #767676,1980px 505px #767676,286px 1780px #767676,566px 1923px #767676,1778px 838px #767676,1455px 591px #767676,433px 880px #767676,1750px 834px #767676,938px 1868px #767676,1801px 1859px #767676,641px 820px #767676,500px 882px #767676,795px 1355px #767676,86px 555px #767676,47px 1338px #767676,311px 549px #767676,251px 1881px #767676,178px 1479px #767676,1364px 553px #767676,762px 707px #767676,1446px 585px #767676,1457px 1535px #767676,1392px 24px #767676,1990px 471px #767676,114px 413px #767676,1723px 906px #767676,1112px 197px #767676,447px 1048px #767676,1106px 444px #767676,236px 828px #767676,924px 559px #767676,1751px 1563px #767676,1270px 580px #767676,726px 1483px #767676,1213px 1130px #767676,254px 1110px #767676,1570px 818px #767676,397px 1889px #767676,523px 1461px #767676,1328px 1236px #767676,665px 1725px #767676,1162px 1850px #767676,1488px 1398px #767676,373px 1307px #767676,660px 1095px #767676,1178px 455px #767676,588px 253px #767676,462px 862px #767676,1806px 1314px #767676,1766px 1782px #767676,740px 501px #767676,1515px 659px #767676,819px 1952px #767676,1640px 163px #767676,1733px 1848px #767676,358px 1697px #767676,309px 1856px #767676,1374px 1760px #767676,1053px 59px #767676,1999px 668px #767676,157px 1404px #767676,1863px 1971px #767676,1294px 1443px #767676,667px 1874px #767676,1783px 254px #767676,342px 435px #767676,668px 194px #767676,831px 9px #767676,1897px 949px #767676,1540px 511px #767676,1594px 197px #767676,991px 1250px #767676,432px 710px #767676,491px 393px #767676,1149px 608px #767676,90px 1400px #767676,14px 1248px #767676,711px 1501px #767676,837px 1921px #767676,1218px 141px #767676,328px 996px #767676,1647px 18px #767676,1797px 1259px #767676,1543px 79px #767676,99px 561px #767676,930px 120px #767676,1929px 84px #767676,970px 116px #767676,225px 125px #767676,1025px 1552px #767676,179px 612px #767676,1000px 1864px #767676,824px 542px #767676,208px 570px #767676,637px 1643px #767676,720px 1017px #767676,1032px 1032px #767676,331px 1495px #767676,1446px 1336px #767676,128px 806px #767676,1906px 1719px #767676,499px 99px #767676,397px 360px #767676,1747px 1095px #767676,1202px 1729px #767676,609px 912px #767676,436px 427px #767676,881px 457px #767676,778px 418px #767676,1117px 426px #767676,194px 1737px #767676,420px 172px #767676,1882px 1072px #767676,401px 625px #767676,1984px 743px #767676,1331px 1680px #767676,880px 226px #767676,1211px 1416px #767676,1285px 1648px #767676,101px 699px #767676,1939px 136px #767676,1788px 717px #767676,1px 26px #767676,208px 917px #767676,330px 1662px #767676,1102px 1819px #767676,220px 229px #767676,279px 869px #767676,947px 105px #767676,1101px 1854px #767676,1580px 1871px #767676,512px 1567px #767676,1211px 555px #767676,1232px 1547px #767676,1564px 1543px #767676,95px 120px #767676,720px 1579px #767676,1383px 1744px #767676,1353px 1138px #767676,607px 541px #767676,882px 1594px #767676,1792px 1657px #767676,1146px 1126px #767676,1047px 1868px #767676,300px 1502px #767676,1464px 1610px #767676,1976px 1940px #767676,917px 1054px #767676,313px 1745px #767676,958px 72px #767676,268px 207px #767676,528px 1759px #767676,1285px 556px #767676,796px 722px #767676,651px 1693px #767676,1751px 1813px #767676,102px 438px #767676,793px 695px #767676,2px 1894px #767676,26px 1695px #767676,1139px 372px #767676,1523px 1256px #767676,815px 1822px #767676,336px 1502px #767676,135px 141px #767676,1071px 1607px #767676,972px 1912px #767676,402px 1908px #767676,1825px 1554px #767676,1066px 21px #767676,1043px 909px #767676,413px 626px #767676,1368px 1912px #767676,230px 534px #767676,924px 574px #767676,1115px 256px #767676,1850px 184px #767676,1627px 739px #767676,1414px 1016px #767676,1657px 1103px #767676,572px 1658px #767676,1987px 741px #767676,869px 1381px #767676,396px 776px #767676,2000px 945px #767676,1992px 1597px #767676,1596px 174px #767676,205px 1291px #767676,631px 1351px #767676,80px 1086px #767676,48px 407px #767676,1198px 1171px #767676,1660px 968px #767676,257px 1347px #767676,412px 1680px #767676,820px 1346px #767676,69px 1443px #767676,1939px 1982px #767676,1198px 453px #767676,265px 1722px #767676,1518px 421px #767676,202px 1559px #767676,1101px 1598px #767676,1323px 641px #767676,1684px 73px #767676,1221px 937px #767676,1948px 1971px #767676,1511px 709px #767676,131px 1171px #767676,615px 168px #767676,637px 254px #767676,881px 448px #767676,612px 142px #767676,1676px 2px #767676,1320px 110px #767676,1324px 307px #767676,1195px 1096px #767676,995px 362px #767676,232px 374px #767676,570px 466px #767676,144px 1446px #767676,68px 313px #767676,1651px 956px #767676,489px 1232px #767676,1134px 1167px #767676,1930px 157px #767676,1421px 504px #767676,1451px 57px #767676,509px 1413px #767676,263px 1427px #767676,1140px 419px #767676,371px 722px #767676,1329px 1170px #767676,840px 9px #767676,329px 675px #767676,53px 1350px #767676,1984px 1876px #767676,501px 1240px #767676,997px 644px #767676,1947px 1158px #767676,1826px 88px #767676,1271px 1328px #767676,1699px 249px #767676,904px 1976px #767676,269px 1483px #767676,1933px 1283px #767676,129px 1846px #767676,475px 1281px #767676,1184px 638px #767676,699px 354px #767676,1609px 74px #767676,569px 92px #767676,343px 1620px #767676,1385px 388px #767676,1996px 708px #767676,636px 855px #767676,1416px 360px #767676,7px 487px #767676,907px 456px #767676,1491px 77px #767676,1671px 1121px #767676,348px 84px #767676,833px 422px #767676,1162px 1811px #767676,28px 1547px #767676,1042px 1595px #767676,1400px 976px #767676,916px 317px #767676,955px 322px #767676,549px 1228px #767676,601px 936px #767676,1338px 1989px #767676,821px 548px #767676,518px 603px #767676,281px 1339px #767676,1919px 1580px #767676,1253px 1877px #767676,1270px 1619px #767676,1376px 178px #767676,1456px 1852px #767676,1699px 1210px #767676,1008px 206px #767676,1561px 131px #767676,1965px 657px #767676,720px 1675px #767676,1653px 1264px #767676,358px 458px #767676,932px 698px #767676,149px 911px #767676,163px 593px #767676,793px 1570px #767676,1692px 71px #767676,1317px 1479px #767676,1436px 1595px #767676,177px 1014px #767676,1185px 1668px #767676,12px 568px #767676,518px 1212px #767676,1227px 470px #767676,1947px 508px #767676,831px 1495px #767676,1118px 1577px #767676,734px 1942px #767676,1803px 816px #767676,822px 1471px #767676,4px 1362px #767676,274px 6px #767676,632px 742px #767676,672px 1189px #767676,35px 77px #767676,1831px 854px #767676,1608px 1122px #767676,1360px 595px #767676,1700px 1292px #767676,1526px 1611px #767676,254px 255px #767676,1109px 1014px #767676,1629px 409px #767676,118px 395px #767676,216px 885px #767676,1457px 806px #767676,289px 1941px #767676,1743px 1720px #767676,1750px 1513px #767676,893px 624px #767676,781px 1719px #767676,1347px 1428px #767676,737px 1001px #767676,485px 153px #767676,331px 192px #767676,1718px 1239px #767676,43px 1642px #767676,679px 1086px #767676,1567px 441px #767676,1250px 1262px #767676,1147px 1436px #767676,1335px 21px #767676,214px 1921px #767676,953px 60px #767676,406px 1206px #767676,1509px 15px #767676,432px 336px #767676,942px 532px #767676,1911px 160px #767676,361px 1361px #767676,948px 585px #767676,1777px 1134px #767676,1588px 1852px #767676,1562px 618px #767676,1789px 1744px #767676,654px 73px #767676,543px 499px #767676,311px 604px #767676,1345px 292px #767676,27px 371px #767676,1845px 1932px #767676,1473px 150px #767676,1293px 1361px #767676,1733px 1175px #767676,1669px 321px #767676,1842px 1015px #767676,291px 164px #767676,398px 508px #767676,106px 592px #767676,1216px 189px #767676,1837px 823px #767676,1183px 396px #767676,1258px 580px #767676,622px 1366px #767676,613px 1851px #767676,1314px 1056px #767676,1940px 452px #767676,1203px 1465px #767676,31px 289px #767676,1889px 667px #767676,1834px 1887px #767676,1522px 1584px #767676,1558px 1941px #767676;
}

.stars>.medium {
  -webkit-animation: b 100s linear infinite;
  animation: b 100s linear infinite;
}

.stars>.medium, .stars>.medium:after {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 436px 1390px #767676,1139px 520px #767676,167px 1802px #767676,1311px 265px #767676,1358px 413px #767676,391px 467px #767676,1271px 776px #767676,1970px 1368px #767676,802px 1311px #767676,1419px 1731px #767676,8px 107px #767676,136px 471px #767676,1600px 183px #767676,439px 46px #767676,1780px 737px #767676,618px 668px #767676,1570px 1142px #767676,377px 1054px #767676,1967px 1509px #767676,916px 1915px #767676,754px 1740px #767676,1107px 1110px #767676,371px 1233px #767676,1468px 677px #767676,516px 1763px #767676,1482px 1389px #767676,1213px 784px #767676,178px 1206px #767676,1295px 1304px #767676,1090px 1416px #767676,1840px 855px #767676,1903px 1142px #767676,861px 1969px #767676,1483px 184px #767676,1016px 1894px #767676,1587px 1257px #767676,1156px 1803px #767676,374px 1236px #767676,726px 1026px #767676,320px 1641px #767676,1829px 785px #767676,178px 1607px #767676,1559px 408px #767676,582px 1184px #767676,1019px 617px #767676,1240px 940px #767676,1729px 1063px #767676,212px 148px #767676,1297px 107px #767676,1249px 358px #767676,1292px 310px #767676,1243px 830px #767676,971px 1927px #767676,713px 533px #767676,1216px 880px #767676,771px 545px #767676,103px 1189px #767676,235px 999px #767676,660px 124px #767676,1297px 1975px #767676,8px 350px #767676,606px 540px #767676,1119px 507px #767676,672px 996px #767676,652px 1019px #767676,1880px 1396px #767676,1145px 602px #767676,569px 1883px #767676,1776px 749px #767676,991px 535px #767676,994px 676px #767676,1918px 494px #767676,1403px 1958px #767676,1135px 1150px #767676,392px 1557px #767676,1618px 1279px #767676,952px 1249px #767676,491px 1241px #767676,250px 263px #767676,1673px 1856px #767676,1410px 377px #767676,1868px 1953px #767676,1133px 1842px #767676,116px 1000px #767676,1196px 689px #767676,1896px 777px #767676,1667px 982px #767676,442px 164px #767676,1916px 1620px #767676,1786px 712px #767676,1263px 1578px #767676,6px 171px #767676,1170px 48px #767676,1745px 1523px #767676,722px 1031px #767676,1256px 223px #767676,1760px 607px #767676,159px 784px #767676,547px 1142px #767676,1799px 1104px #767676,252px 528px #767676,1514px 1138px #767676,781px 1541px #767676,1973px 314px #767676,961px 109px #767676,1943px 1078px #767676,1759px 214px #767676,1039px 270px #767676,1483px 694px #767676,1153px 348px #767676,1161px 867px #767676,1986px 1336px #767676,555px 162px #767676,1812px 1732px #767676,1236px 742px #767676,153px 1222px #767676,1132px 38px #767676,1130px 933px #767676,1368px 1360px #767676,1628px 890px #767676,937px 1672px #767676,151px 702px #767676,628px 972px #767676,1566px 1582px #767676,1341px 614px #767676,131px 1287px #767676,194px 845px #767676,1477px 772px #767676,1712px 1568px #767676,1006px 853px #767676,1009px 577px #767676,29px 1031px #767676,1378px 1346px #767676,355px 569px #767676,349px 656px #767676,981px 1626px #767676,1167px 1932px #767676,1707px 766px #767676,1778px 724px #767676,110px 955px #767676,142px 247px #767676,509px 1701px #767676,1430px 438px #767676,924px 1598px #767676,1799px 1467px #767676,383px 641px #767676,1180px 1619px #767676,1150px 1043px #767676,1443px 864px #767676,1223px 923px #767676,1649px 1563px #767676,734px 1123px #767676,344px 1327px #767676,1768px 775px #767676,519px 144px #767676,953px 135px #767676,1197px 828px #767676,989px 316px #767676,203px 466px #767676,99px 2px #767676,861px 780px #767676,102px 1302px #767676,1427px 94px #767676,544px 467px #767676,430px 982px #767676,125px 1817px #767676,1269px 1455px #767676,1529px 55px #767676,1432px 320px #767676,549px 1816px #767676,1034px 22px #767676,553px 1156px #767676,474px 257px #767676,1491px 279px #767676,1022px 350px #767676,1667px 1825px #767676,57px 587px #767676,814px 950px #767676,577px 221px #767676,71px 623px #767676,312px 313px #767676,1629px 1222px #767676,413px 296px #767676,1516px 1180px #767676,1099px 608px #767676,224px 1245px #767676,951px 1051px #767676,282px 540px #767676,244px 1678px #767676,621px 258px #767676,1187px 1937px #767676,146px 1220px #767676,652px 228px #767676,639px 214px #767676,1426px 362px #767676,843px 1674px #767676,1720px 844px #767676,116px 288px #767676,1904px 1874px #767676,609px 332px #767676;
}
.stars>.big {
  -webkit-animation: b 150s linear infinite;
  animation: b 150s linear infinite;
}
.stars>.big, .stars>.big:after {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 27px 1184px #767676,276px 420px #767676,194px 666px #767676,264px 1351px #767676,1632px 868px #767676,1192px 944px #767676,1334px 556px #767676,550px 611px #767676,1428px 1101px #767676,1508px 1314px #767676,19px 1363px #767676,349px 1401px #767676,1030px 394px #767676,1728px 1643px #767676,1568px 1266px #767676,96px 1169px #767676,618px 1762px #767676,624px 793px #767676,931px 644px #767676,1255px 1553px #767676,1107px 253px #767676,1161px 329px #767676,1352px 1400px #767676,1199px 715px #767676,873px 1425px #767676,1878px 154px #767676,369px 407px #767676,155px 1428px #767676,1165px 373px #767676,531px 138px #767676,322px 1300px #767676,1600px 87px #767676,1857px 408px #767676,42px 1052px #767676,918px 379px #767676,1406px 302px #767676,529px 1226px #767676,1673px 1542px #767676,664px 1010px #767676,1152px 820px #767676,418px 1586px #767676,1939px 1143px #767676,1411px 410px #767676,1905px 926px #767676,377px 1800px #767676,257px 221px #767676,1211px 1617px #767676,1477px 709px #767676,1154px 1746px #767676,1833px 916px #767676,1904px 1330px #767676,418px 1759px #767676,503px 175px #767676,97px 717px #767676,1678px 1316px #767676,118px 1296px #767676,1059px 1586px #767676,1136px 1107px #767676,1818px 613px #767676,616px 604px #767676,651px 786px #767676,570px 1941px #767676,938px 1477px #767676,1409px 399px #767676,1617px 1178px #767676,1652px 1825px #767676,1423px 1021px #767676,213px 1607px #767676,1362px 188px #767676,1553px 471px #767676,1388px 1333px #767676,197px 1084px #767676,1995px 949px #767676,597px 295px #767676,939px 1961px #767676,1910px 1014px #767676,487px 1228px #767676,166px 1353px #767676,1138px 502px #767676,569px 529px #767676,357px 654px #767676,475px 96px #767676,1971px 1921px #767676,971px 1019px #767676,321px 1332px #767676,168px 1973px #767676,890px 1810px #767676,483px 481px #767676,4px 1986px #767676,22px 1267px #767676,1207px 1983px #767676,489px 1397px #767676,1565px 534px #767676,294px 635px #767676,436px 79px #767676,1719px 263px #767676,659px 1949px #767676,1922px 303px #767676,1231px 718px #767676,542px 1587px #767676;
  border-radius: 100%;
}


@-webkit-keyframes b {
  0% {
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }

  to {
      -webkit-transform: translateY(-2000px);
      transform: translateY(-2000px)
  }
}


@keyframes b {
  0% {
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }

  to {
      -webkit-transform: translateY(-2000px);
      transform: translateY(-2000px)
  }
}
